@font-face {
    font-family: "PangLong";
    src: url("fonts/PangLongLatest.ttf");
}

h1 {
    font-size: 5rem;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
}

.list {
    border-style: solid;
    border-radius: 10px;
    
    margin: auto;
    width: 35em;
    height: 50vh;
    overflow-y: scroll;
}

.item {
    padding-left: 0.5em;
    border-style: solid;
    border-left-width: 0;
    border-right-width: 0;
}

.changes {
    margin-top: 3em;
    height: 15vh;
    text-align: center;
}

.eng {
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.dai {
    font-family: 'PangLong';
}

.searchbar {
    font-size: 0.85em;
    margin-bottom: 2em;
    border-radius: 15px;
    padding: 0.5em 0.5em;
    width: 30em;
}

.admin {
    display: flex;
    flex-direction: column;

    height: 35vh;
    /* padding-bottom: 1.5em; */
}

.admin .item {
    padding-top: 1.5em;
}

.admininput {
    border-radius: 10px;
    width: 85%;
}

.admininput:hover {
    text-decoration: underline;
    cursor:pointer;
}

.eng-input, .dai-input, .id-input {
    font-size: 1rem;
    width: 25rem;
    padding: 0.5rem;
    border-radius: 5px;
}

.id-input:hover {
    cursor:not-allowed;
}

.dai-input {
    font-size: 1rem;
    font-family: 'PangLong';
}

.modal {
    visibility:hidden;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background:rgba(77,77,77,0.75);

    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.25rem;
    font-weight: bold;
}

.adminBar {
    width: 35em;
    display: flex;
    justify-content: space-evenly;
    
    margin-bottom: 1.5em;
}

.adminBar .searchbar {
    width: 25em;
    margin-bottom: 0;
}

.popup .buttons {
    margin-top: 0.5rem;
    display: flex;
    padding: 0.5rem;
    border-radius: 5px;

    align-items:center;
    justify-content: space-between;
}

.button{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5rem;

    border-radius: 10px;
}

.button:hover{
    cursor: pointer;
}

.popup {
    visibility: inherit;
    position: inherit;

    background-color: white;
    width:auto;
    height: auto;
    padding: 0.75rem;
    border-style: solid;
    border-radius:15px;

    display:flex;
    flex-direction: column;
}

.popup h1 {
    display: flex;
    justify-content: center;

    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    font-weight: bold;
}

body {
    display: flex;
    flex-direction:column;
    align-items: center;
}

::-webkit-scrollbar {
    border-style: solid;
    border-radius: 0 7px 7px 0;
}

::-webkit-scrollbar-track {
    color: gray;
}

#credits, #sign-in-up {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}

#credits a, #sign-in-up a {
    color: black;
}

#credits a:hover, #sign-in-up a:hover {
    color: gray;
}