{% extends "base.html" %}

{% block title %}Admin{% endblock %}

{% block main %}
<h1 style="text-align: center;">English to Dai</h1>

<form action="/update" method="post">
    <div class="adminBar">
        <input type="text" name="q" autofocus autocomplete=off placeholder="Search" class="searchbar" id="admin_search">
        <button type="button" class="button">Apply Changes</button>
        <button type="button" class="button">Add</button>
    </div>
    <div class="admin list" id="admin_list">
    {% for row in data %}
        <div class="item">
            <a class="admininput eng" data-id="{{ row [0] }}" data-eng="{{ row[1] }}" data-dai="{{ row[2] }}">{{ row[1] }}</a>
            <p class="dai">{{ row[2] }}</p>
        </div>
    {% endfor %}
    </div>
</form>

<div class="changes list">
    <p>No Changes.</p>
</div>

<div class="modal">
    <form class="popup" action="/update" method="post">
        <h1>Edit Panel</h1>

        <label for="word_id">Word-ID:</label>
        <input class="id-input" readonly name="word_id">

        <label for="eng">English:</label>
        <input class="eng-input" name="eng">

        <label for="dai">Dai:</label>
        <input class="dai-input" name="dai">

        <div class="buttons">
            <button class="button" id="submit" type="submit">Submit</button>
            <button class="button" id="cancel" type="button">Cancel</button>
        </div>
    </form>
</div>

<script type="module">
    import { search,addListeners } from "{{ url_for('static', filename='functions.js') }}";

    let admin_input = document.querySelector("#admin_search");
    addListeners();
    search(admin_input,'admin','#admin_list', function() {
        addListeners();
    });
</script>
{% endblock %}
