{% extends "base.html" %}

{% block title %}Admin{% endblock %}

{% block main %}
{% if role == "admin" %}
<h1 style="text-align: center;">English to Dai</h1>

<form action="/update" method="post">
    <div class="navBar">
        <input type="text" name="q" autofocus autocomplete=off placeholder="Search" class="searchbar" id="admin_search">
        <button type="button" class="button">Apply Changes</button>
        <button type="button" class="button">Add</button>
    </div>
    <div class="admin list" id="admin_list">
    {% for row in data %}
        <div class="item">
            <h1><a class="input admininput" data-id="{{ row [0] }}" data-eng="{{ row[1] }}" data-dai="{{ row[2] }}">{{ row[1] }}</a></h1>
            <p class="dai">{{ row[2] }}</p>
        </div>
    {% endfor %}
    </div>
</form>

<div class="changes list">
    <p>No Change Requests.</p>
</div>

<div class="modal">
    <form class="popup" action="/update" method="post">
        <h1>Edit Panel</h1>

        <label for="word_id">Word-ID:</label>
        <input class="modal_input id-input" readonly name="word_id">

        <label for="eng">English:</label>
        <input class="modal_input eng-input" name="eng">

        <label for="dai">Dai:</label>
        <input class="modal_input dai-input" name="dai">

        <div class="buttons">
            <button class="button" id="submit" type="submit">Submit</button>
            <button class="button" id="cancel" type="button">Cancel</button>
        </div>
    </form>
</div>

<div id="footer_bar">
    <a href="/accounts">Accounts</a>
    <a href="/logout">Logout</a>
</div>

<script type="module">
    import { search,addModal } from "{{ url_for('static', filename='functions.js') }}";

    let selectors = ['.id-input', '.eng-input', '.dai-input'];
    let admin_search = document.querySelector("#admin_search");
    let admin_input = document.querySelector(".admininput");
    let modal = '.modal';
    let cancel = '#cancel';
    let values = Object.values(admin_input.dataset);
    
    addModal('.admininput', modal, cancel, selectors);
    search(admin_search,'admin','#admin_list', function() {
        addModal('.admininput', modal, cancel, selectors);
    });
</script>
{% else %}
You are not allowed here!
{% endif %}
{% endblock %}
