{% extends "base.html" %}

{% block title %}Eng-Dai{% endblock %}

{% block main %}    
<h1 style="text-align: center;">English to Dai</h1>

<div class="navBar">
    <input type="text" name="q" autofocus autocomplete=off placeholder="Search" class="searchbar" id="index_search">
</div>

<div class="list" id="index_list">
    {% for row in data %}
    <div class="item">
        <h1>{{ row[1] }}</h2>
        <p>{{ row[2] }}</p>
    </div>
    {% endfor %}
</div>
<p id="credits">made by <a href="https://github.com/h1k4ru-f14m3" target="_blank">h1k4ru-f14m3</a></p>

<div id="footer_bar">
    {% if name %}
    <a href="/logout">Logout</a>
    {% else %}
    <a href="/register">Register</a>
    <a href="/login">Login</a>
    {% endif %}
</div>

<script type="module">
    import { search } from "{{ url_for('static', filename='functions.js') }}";
    
    // For index.html
    let index_input = document.querySelector("#index_search");
    search(index_input,'normal','#index_list');
</script>

{% endblock %}
