{% extends "base.html" %}

{% block title %}Eng-Dai{% endblock %}

{% block main %}    
<h1 style="text-align: center;">English to Dai</h1>
<input type="text" name="q" autofocus autocomplete=off placeholder="Search" class="searchbar" id="index_search">
<div class="list" id="index_list">
    {% for row in data %}
    <div class="item">
        <h2 class="eng">{{ row[1] }}</h2>
        <p class="dai">{{ row[2] }}</p>
    </div>
    {% endfor %}
</div>
<!-- <p id="credits">made by <a href="https://github.com/h1k4ru-f14m3" target="_blank">h1k4ru-f14m3</a></p> -->
<p id="credits"><a href="/admin">Admin</a></p>

{% endblock %}
